@tailwind base;
@tailwind components;

@layer components {
    .btn{
        @apply inline-block text-center bg-green-500 text-white leading-10 rounded hover:bg-green-600 px-6 py-2
    }

    .btn2{
        @apply inline-block text-center bg-blue-500 text-white leading-10 rounded hover:bg-blue-600 px-6 py-2
    }
}

@tailwind utilities;

@layer utilities {
    .btn3{
        padding: 0.5rem 1.5rem;
        display: inline-block;
        text-align: center;
        background: red;
        color: white;
        line-height: 2.5rem;
        border-radius: 0.25rem;
    }
    .btn3:hover{
        background:darkred;
    }
}
